---
title: CV
description: The society is a joke.
permalink: /cv/
---

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Mr.Q's {{ page.title }}</title>
	<link rel="icon" href="../images/icon.png">
	<link rel="stylesheet" href="../css/screen.css">
</head>

<body>
	<header id="mainHeader">
			<div class="container">
				<nav>
					<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
					{% for link in site.data.navigation %}
						{% assign class = "" %}
						{% if link.highlight %}
							{% assign class = class | append: " highlight" %}
						{% endif %}

						{% if link.link == page.url %}
							{% assign class = class | append: " active" %}
						{% endif %}
						<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
					{% endfor %}
				</nav>
				<!--<p class="editor-link"><a style="display:inline;" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a></p>-->
			</div>
	</header>
	<section class="hero" style="background-image: url('../images/about.jpg')">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h1 class="editable">{{ page.title }}</h1>
				<p class="subtext editable">{{ page.description }}</p>
			</div>
		</div>
		<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
	</section>

	<div class="content">
		<section class="info" id="learn-more">
			<div class="container flex">
				<!--<div class="image">
					<img class="editable" src="/images/me.JPG" style="border-radius: 50%; width: 75%" />
				</div>-->
				<div class="text">
					<h2 style="text-align: center">Education</h2>
					<table align="center" style="font-family: 'Tw Cen MT'; width: 70%;">
						<tr>
							<td>2018-2022</td>
							<td>Keio University - PEARL program (Economics)</td>
							<td>GPA: 3.96/4.0 (top 1)</td>
						</tr>
						<tr>
							<td>2017-2018</td>
							<td>Tampere University of Technology (IT & Math)</td>
							<td>GPA: 4.87/5.0 (top 1)</td>
						</tr>
						<tr>
							<td>2015-2017</td>
							<td>Rosslyn Academy</td>
							<td></td>
						</tr>
						<tr>
							<td>2013-2014</td>
							<td>Suzhou High School</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 style="text-align: center"><br>Experiences</h2>
					<table align="center" style="width: 80%;">
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Fintech Intern - SAFRAN Group [Fortune 500]</strong>
									<li><u>Duration:</u> 5 months (2020/12 ~ 2021/04)</li>
									<li><u>Location:</u> Suzhou, China</li>
									<li><u>Project:</u> I am implementing Robotic Process Automation tools for various corporate finance tasks using Python on my own.</li>
									<li><u>Packages & Tools:</u> TBA</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Data Engineer Intern - FLUX Inc. [Forbes 30 Under 30 Asia]</strong>
									<li><u>Duration:</u> 8 months (2019/04 ~ 2019/11)</li>
									<li><u>Location:</u> Tokyo, Japan</li>
									<li><u>Project:</u> I worked with a team to develop the core Business Intelligence (BI) product of the company based on back-end advertisement data.</li>
									<ol>
										<li>created a scraping tool to scrape essential Google ads information given any website.</li>
										<li>automated the data scraping and processing parts for selected advertisement vendors.</li>
										<li>helped implement the database interaction part with MongoDB.</li>
									</ol>
									<li><u>Packages & Tools:</u> scrapy, uuid, threading, numpy, pandas, selenium, request&response,<br>beautifulsoup, urllib, Postman, MongoDB, etc.</li>
								</ol>

							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Project Engineer Intern - OptoFidelity Oy.</strong>
									<li><u>Duration:</u> 8 months (2017/10 ~ 2018/05)</li>
									<li><u>Location:</u> Tampere, Finland</li>
									<li><u>Project:</u> I worked with a team to develop an AI pricing tool for used phones with digital screen defects.</li>
									<ol>
										<li>finished segmentation annotation and data collection.</li>
										<li>improved the Python annotation tool with code modifications.</li>
										<li>helped implement the object detection algorithm with YOLO.</li>
									</ol>
									<li><u>Packages & Tools:</u> labelme, labelbox, keras, tensorflow, numpy, pillow</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Arduino Engineer Intern - BRCK Co.</strong>
									<li><u>Duration:</u> 1 month (2016/06 ~ 2016/07)</li>
									<li><u>Location:</u> Nairobi, Kenya</li>
									<li><u>Project:</u> I learned to develop the GPS and SIM modle of the main product Brick.</li>
									<li><u>Packages & Tools:</u> Arduino & C++</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: none; font-size: 1em; list-style-position: outside; font-family: 'Tw Cen MT'"><strong>Research:</strong>
									<li>ARIMA-GARCH Model for TOPIX Forecasting</li>
									<li>Time Series Forecasting: Classical vs Modern Methods(TBA)</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: none; font-size: 1em; list-style-position: outside; font-family: 'Tw Cen MT'"><strong>Contests:</strong>
									<li>2020 Econometric Game – Ongoing</li>
									<li>2020 Nissan Automobile Image Classification Contest – Top 2</li>
									<li>2020 Otsuka Pharmaceutical Time Series Prediction Contest – Top 3</li>
									<li>2020 10th Sports Analysis Contest by the Japan Statistical Society - 2nd round</li>
									<li>2020 Bloomberg ESG Investment Contest (team leader) – participation & training</li>
									<li>2016 57th International Mathematical Olympiad (IMO) – participation (no training)</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: none; font-size: 1em; list-style-position: outside; font-family: 'Tw Cen MT'"><strong>Memberships & Others:</strong>
									<li>2020-2022 Member of AI Consortium of Keio University</li>
									<li>2020-2022 Data Science Team of Nakatsuma Research Seminar</li>
									<li>2019 Slush Tokyo Dialogue Stage Team Leader</li>
									<li>2018 EESTEC Autonomous Driving Workshop with RWTH Aachen</li>
									<li>2017 Slush Helsinki Security Service Team Volunteer</li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 style="text-align: center">Achievements</h2>
					<table align="center">
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Scholarships</strong>
									<li>2020 Keio University Scholarship</li>
									<li>2020 Yamaoka Kenichi Memorial Scholarship</li>
									<li>2019 Keio University Scholarship</li>
									<li>2019 Goldman Sachs Scholars Fund</li>
									<li>2018 JASSO Honors Scholarship</li>
									<li>2017 Academic Excellence Award in Tampere University of Technology</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Others</strong>
									<li>2016 57th IMO Participation Award (Correct Answers: 4/6, Final Score: 5/42)</li>
									<li>2017 Issac Newton Award – Prominence in Mathematics and Science in Rosslyn Academy</li>
									<li>2016 1st Place with distinction in the 1st Kenyan Mathematical Olympiad</li>
									<li>2015-2017 Top 1 of Math League leaderboard in Rosslyn Academy</li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 style="text-align: center">Skills</h2>
					<table align="center">
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Programming</strong>
									<li><u>Advanced:</u> <strong>Python</strong></li>
									<li><u>Intermediate:</u> R, Ruby, C++</li>
									<li><u>Basic:</u> html/css, Javascript, Matlab</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>
								<ul style="list-style-type: circle; font-size: 1em; list-style-position: inside; font-family: 'Tw Cen MT'"><strong>Others</strong>
									<li>Mathematics, Data Science, Financial Analysis</li>
									<li>Logical thinking, Independence & Personal management, Intercultural communication</li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<div align="center">Picture shared by <a href="https://wall.alphacoders.com/big.php?i=876413" title="Ocelot079">Ocelot079</a></div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.2/dist/gsap.min.js"></script>
</body>

</html>