---
title: Mr.Q
description: Obsessed with randomness
image: ./images/background-cover-dark.gif
---

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Mr.Q</title>
	<link rel="icon" href="images/icon.png">
	<link rel="stylesheet" href="css/screen.css">
</head>

<body>
	<header id="mainHeader">
			<div class="container">
				<nav>
					<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
					{% for link in site.data.navigation %}
						{% assign class = "" %}
						{% if link.highlight %}
							{% assign class = class | append: " highlight" %}
						{% endif %}

						{% if link.link == page.url %}
							{% assign class = class | append: " active" %}
						{% endif %}
						<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
					{% endfor %}
				</nav>
				<p class="editor-link"><a style="display:inline;" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a></p>
			</div>
	</header>
	<section class="hero" style="background-image: url({{ page.image }})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h1 class="editable">Stokes Qu</h1>
				<p class="subtext editable">{{ page.description }}</p>
			</div>
		</div>
		<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
	</section>

	<div class="content">
		<section class="info" id="learn-more">
			<div class="container flex">
				<div class="image">
					<img class="editable" src="/images/me.JPG" style="border-radius: 50%; width: 75%" />
				</div>
				<div class="text">
					<h2 class="editable">Who?</h2>
					<p class="editable">An INTJ believer of nihilism and randomness with a sheer focus on efficiency, improvement, and achievement.
						<br>
						<b>Talent:</b> Math
						<br>
						<b>Interest:</b> Frontier technology (AI, Fintech, brain/neuroscience, robotics, etc.)
						<br>
						<b>Goal:</b> to create Artificial Consciousness, or humanoid, or human-like AI, whatever you call it.
					</p>
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="image">
					<img class="editable" src="/images/mrq.jpg" style="width: 80%" />
				</div>
				<div class="text" style="margin-left: 5%">
					<h2 class="editable">Why?</h2>
					<p class="editable">Why not.
						<br>
						I collect whatever I think is useful here.
						<br>
						Please contact me if you have the same passion for frontier technology.
						<br>
						<br>
						Email: <u>mikustokes [at] gmail.com</u>
						<br>
						LinkedIn: <a href="https://www.linkedin.com/in/renyi-qu-6645a8150" target="_blank">here</a>
						<br>
						Facebook: <a href="https://www.facebook.com/profile.php?id=100008615769793" target="_blank">here</a>
					</p>
				</div>
			</div>
		</section>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.2/dist/gsap.min.js"></script>
</body>

</html>