---
title: HUB
description: AI addict
image: ./images/background-cover-dark.gif
bottom_image: ./images/872306.png
---

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Mr.Q's {{ page.title }}</title>
	<link rel="icon" href="images/icon.png">
	<link rel="stylesheet" href="css/screen.css">
</head>

<body>
	<header id="mainHeader">
			<div class="container">
				<nav>
					<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
					{% for link in site.data.navigation %}
						{% assign class = "" %}
						{% if link.highlight %}
							{% assign class = class | append: " highlight" %}
						{% endif %}
				
						{% if link.link == page.url %}
							{% assign class = class | append: " active" %}
						{% endif %}
						<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
					{% endfor %}
				</nav>
				<p class="editor-link"><a style="display:inline;" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a></p>
			</div>
	</header>
	<section class="hero" style="background-image: url({{ page.image }})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h1 class="editable">Mr.Q's {{ page.title }}</h1>
				<p class="subtext editable">{{ page.description }}</p>
			</div>
		</div>
		<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
	</section>

	<div class="content">
		<section class="info" id="learn-more">
			<div class="container flex">
				<div class="image">
					<img class="editable" src="/images/me.JPG" style="border-radius: 50%; width: 75%" />
				</div>
				<div class="text">
					<h2 class="editable">Who is Stokes Qu?</h2>
					<p class="editable">An INTJ believer of nihilism with strong aptitude for mathematics and insane
						enthusiasm about Artificial Intelligence (<s>Data Science</s>).
						<br>
						He has lived in Asia, Africa and Europe.
						<br>
						He has participated in 57th IMO, got the right answers for 4/6 questions, but missed the medal
						because of informal solution writing. :(
						<br>
						As a lifelong project, he will create an Artificial Consciousness with the potential to discover the secrets
						behind the existence of the universe.</p>
				</div>
			</div>
		</section>

		<section class="info">
			<div class="container flex">
				<div class="image">
					<img class="editable" src="/images/mrq.png" style="width: 40%" />
				</div>
				<div class="text" style="margin-left: 5%">
					<h2 class="editable">What is Mr.Q's Hub?</h2>
					<p class="editable">My knowledge base for my lifelong project.
						<br>
						I collect whatever I believe is useful for the development of "REAL AI" (<s>Data Science</s> Artificial Consciousness) here.
						<br>
						After I make enough money to pay my debts, I will utilize this hub and devote the rest of my life to my mission.
						<br>
						
					</p>
				</div>
			</div>
		</section>

		<section class="hero" style="background-image: url({{ page.bottom_image }});">
			<div class="inner-hero text-container">
				<div class="hero-text-container">
					<h2 class="editable">Categories</h2>
					<table>
						<tr>
							<td class="sl" style="background-color: rgb(255, 98, 98); background-size: cover">
								<a href="/cv/">
								<h3>CV</h3>
								<p>For CV & interesting facts about Mr.Q &#8594;</p>
								</a>
							</td>
							<td class="sl" style="background-color: rgb(0, 255, 191); background-size: cover">
								<a href="/roadmap/">
								<h3>Roadmap</h3>
								<p>For Mr.Q's self-learning notes &#8594;</p>
								</a>
							</td>
							<td class="sl" style="background-color: rgb(204, 127, 255); background-size: cover">
								<a href="http://github.com/mrq02">
								<h3>Projects</h3>
								<p>For programs posted on Mr.Q's github &#8594;</p>
								</a>
							</td>
							<td class="sl" style="background-color: rgb(0, 204, 255); background-size: cover">
								<a href="/about/">
								<h3>About</h3>
								<p>For the origin of Mr.Q's passion &#8594;</p>
								</a>
							</td>
						</tr>
					</table>
					<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
				</div>
			</div>
		</section>
	</div>
	<div align="center">Pic from Alphacode <a href="https://wall.alphacoders.com/big.php?i=872306&lang=Chinese">asd123qwe</a></div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.2/dist/gsap.min.js"></script>
</body>

</html>