---
title: The Roadmap
description: AI & Stats addict
permalink: /roadmap/
---

<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="icon" href="../images/icon.png">
	<link rel="stylesheet" href="../css/screen.css">
</head>

<body>
	<header id="mainHeader">
			<div class="container">
				<nav>
					<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
					{% for link in site.data.navigation %}
						{% assign class = "" %}
						{% if link.highlight %}
							{% assign class = class | append: " highlight" %}
						{% endif %}
				
						{% if link.link == page.url %}
							{% assign class = class | append: " active" %}
						{% endif %}
						<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
					{% endfor %}
				</nav>
				<!--<p class="editor-link"><a style="display:inline;" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a></p>-->
			</div>
	</header>
	<section class="hero" style="background-image: url('../images/roadmap.jpg')">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h1 class="editable">{{ page.title }}</h1>
				<p class="subtext editable">{{ page.description }}</p>
			</div>
		</div>
		<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
	</section>

	<div class="content">
		<section class="info" id="learn-more">
			<div class="container flex">
				<div class="text" style="padding-left: 5%">
					<h2 class="editable"><a href="/ML/">Machine Learning</a></h2>
					<ul class="editable" style="list-style-type: circle">
						<li>Supervised Learning (Regression + Classification)</li>
						<li>SVM</li>
						<li>Clustering</li>
						<li>Decision Tree</li>
						<li>SVM (Support Vector Machine)</li>
						<li>Kernel Methods</li>
						<li>Dimensionality Reduction</li>
						<li>Boosting, Model Selection & Learning Theory</li>
					</ul>
				</div>
				<div class="image">
					<img class="editable" src="/images/ML.jpg" style="width: 60%;" />
				</div>
			</div>
		</section>
		<section class="info">
			<div class="container flex">
				<div class="text" style="padding-left: 10%">
					<h2 class="editable">Deep Learning</h2>
					<ul class="editable" style="list-style-type: circle">
						<li>ANN (Basics)</li>
						<li>CNN (Convolutional Neural Networks)</li>
						<li>RNN (Sequence Modeling)</li>
					</ul>
				</div>
				<div class="image">
					<img class="editable" src="/images/NN.png" style="width: 75%;" />
				</div>
			</div>
		</section>
		<section class="info">
			<div class="container flex">
				<div class="text" style="padding-left: 5%">
					<h2 class="editable">Reinforcement Learning</h2>
					<ul class="editable" style="list-style-type: circle">
						<li>to be continued</li>
					</ul>
				</div>
				<div class="image">
					<img class="editable" src="/images/RL.png" style="width: 75%;" />
				</div>
			</div>
		</section>
		<section class="info">
			<div class="container flex">
				<div class="text" style="padding-left: 10%">
					<h2 class="editable">Artificial Intelligence</h2>
					<ul class="editable" style="list-style-type: circle">
						<li>Search!</li>
						<li>Logic!</li>
						<li>Planning!</li>
						<li>Probabilistic Reasoning</li>
						<li>Learning (umm just go back plz)</li>
						<li>Communication (to be continued)</li>
					</ul>
				</div>
				<div class="image">
					<img class="editable" src="/images/AI.png" style="width: 75%;" />
				</div>
			</div>
		</section>
		<section class="info">
			<div class="container flex">
				<div class="text" style="padding-left: 5%">
					<h2 class="editable">Probability & Statistics</h2>
					<ul class="editable" style="list-style-type: circle">
						<li>Probability Theory</li>
						<li>Probability Distributions</li>
						<li>to be continued</li>
					</ul>
				</div>
				<div class="image">
					<img class="editable" src="/images/PS.png" style="width: 75%;" />
				</div>
			</div>
		</section>
		<section class="info">
			<div class="container flex">
				<div class="text" style="padding-left: 10%">
					<h2 class="editable">Econometrics & Time Series</h2>
					<ul class="editable" style="list-style-type: circle">
						<li>Regression</li>
						<li>Binary Choice</li>
						<li>Time Series 1: Basics</li>
						<li>Time Series 2: ARMA</li>
						<li>Time Series 3: Multivariate, Heteroskedasticity & Advanced Methods</li>
					</ul>
					</ul>
				</div>
				<div class="image">
					<img class="editable" src="/images/TS.png" style="width: 80%;" />
				</div>
			</div>
		</section>
		<section class="info">
			<div class="container flex">
				<div class="text" style="text-align: center">
					<h2 class="editable">And More...</h2>
				</div>
			</div>
		</section>

	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.2/dist/gsap.min.js"></script>
</body>

</html>